<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/dashboard}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Device</title>
        <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
            />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div th:fragment="contentAdmin">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/membersList">Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="/admin/device-management">Device</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Device</li>
                </ol>
            </nav>
            <div class="d-flex flex-column mb-4">
                <h3 class="fw-bold">Edit Device</h2>
                    <hr style="margin: 0;" />
            </div>
            <div
                th:if="${param.err}"
                class="alert alert-danger alert-dismissible"
                >
                <a
                    href="#"
                    class="close"
                    data-dismiss="alert"
                    aria-label="close"
                    >&times;</a
                >
                <span th:text="${param.err}"></span>
            </div>
            <div
                th:if="${param.success}"
                class="alert alert-success alert-dismissible"
                >
                <a
                    href="#"
                    class="close"
                    data-dismiss="alert"
                    aria-label="close"
                    >&times;</a
                >
                <span th:text="${param.success}"></span>
            </div>
            <div id="message"></div>
            <form method="post" action="/edit-device" id="deviceForm">
                <input
                    type="hidden"
                    id="id"
                    name="id"
                    th:value="${device.id}"
                    />
                <div class="form-group mb-2">
                    <label for="name" class="form-label">Name:</label>
                    <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        th:value="${device.name}"
                        required
                        />
                </div>
                <div class="form-group mb-2">
                    <label for="description" class="form-label">Description:</label>
                    <textarea
                        class="form-control"
                        id="description"
                        name="description"
                        rows="3"
                        th:text="${device.description}"
                        ></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </body>
</html>
